*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo img{
    width: 170px;
}

.container-menu{
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
}

.container-menu ul li{
    display: inline-block;
    padding: 20px 10px;
}

.container-menu ul{
    list-style-type: none;
}

.banner{
    width: 100%;
    height: 500px;
    color: white;
    background-image: url(../img/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: black;
}

.banner-text{
    padding: 90px 130px;
}

.banner-text ul{
    list-style: none;
}

.banner-text li{
    margin: 10px 0;
    padding: 20px 20px;
    height: 60px;
    font-size: 20px;
}

.text-banner-single{
    background-image: url(../img/box-text.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text-banner-single a{
    text-decoration: none;
    color: white;
}

.text-banner-single-white a{
    text-decoration: none;
    color: black;
}

.banner-text .text-banner-single:nth-of-type(2){
    position: relative;
    left: 70px;
    width: 200px;
}

.banner-text .text-banner-single:nth-of-type(3){
    position: relative;
    left: 60px;
    width: 170px;
}

.banner-text .text-banner-single:nth-of-type(1){
    position: relative;
    left: 80px;
    width: 250px;
}

.text-banner-single-white{
    background-image: url(../img/box-white-text.png);
    background-repeat: no-repeat;
    top:5px;
    width: 500px;
    color: black;
    position: relative;
    left: 40px;
}


